* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	
	background: rgb(92,152,138);
    background: linear-gradient(47deg, rgba(92,152,138,1) 15%, rgba(207,115,48,1) 98%); 
}

footer {
	background-color: #282828;
   	width: 100%;
	margin-bottom: -16px;
	padding: 0 ;
}

.footer div h3{
	padding: 1em;
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

.footer div h3 span {
	color: green;
}

.footer div ul {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.footer div ul li {
	list-style: none;
}

.footer div ul li a {
	text-decoration: none;
}

.footer div ul li a i {
	color: #FFF;
	font-size: 2em;
}
       
.footer .contacto {
	text-align: center;
}

.footer .contacto  p{
	color: #FFF;
}


.footer .contacto  a i{
	font-size: 2em;
	color: #FFF;
	padding: 1em;
}

.borde {
	border-bottom: 2px solid #FFF;
	width: 100%;
	display: inline-block;
	
}

.pie {
	color: #FFF;
	text-align: center;
	padding: 1em 0 1em 0;
}


.servicios-lista ul li i {
	color: green;
	padding-right: 10px;
}



/* MEDIA QUERIES */

@media only screen (min-width: 384px) {


}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 576px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 991px) {

}

@media only screen and (min-width: 1200px) {

	
	
	
}

@media only screen and (max-width: 1200px) {

/* ESTO ES PARA TRABAJAR PARA MONITORES SUPER GRANDES*/

}
